---
import Navbar from "../Navbar.astro";
import Presentation from "../Presentation.astro";
import Experience from "../Experience.astro";
import Tecnologies from "../Tecnologies.astro";
import About from "../About.astro";
---

<header>
  <Navbar />
</header>
<main>
  <Presentation />
  <Experience />
  <Tecnologies />
  <About />
</main>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 1000px;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
