---
import Navbar from "@components/Navbar.astro";
import Presentation from "@components/Presentation.astro";
import Experience from "@components/Experience.astro";
import Tecnologies from "@components/Tecnologies.astro";
import About from "@components/About.astro";
import Projects from "@components/Projects.astro";
---

<header>
	<Navbar />
</header>
<main class='m-auto p-4 sm:p-8 md:p-16 lg:p-24 max-w-screen-xl'>
	<Presentation />
	<Experience />
	<Projects />
	<!-- <Tecnologies /> -->
	<About />
</main>
