---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Presentation from "../components/Presentation.astro";
import Navbar from "../components/Navbar.astro";
import Tecnologies from "../components/Tecnologies.astro";
import About from "../components/About.astro";
---

<Layout title='Guifré Puig'>
  <header>
    <Navbar />
  </header>
  <main>
    <Presentation />
    <Experience />
    <Tecnologies />
    <About />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 1000px;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
