<article>
  <div id='about'></div>
  <h2>Sobre mí</h2>
  <section>
    <p>
      <span>Soy Guifré, nacido en 1982 en Barcelona</span>, donde resido actualmente. En el año <span
        >2002, estudié un ciclo formativo de grado superior en Sistemas Informáticos</span
      >. Sin embargo, en aquel momento, mi corazón estaba dividido entre la informática y la música, lo que me llevó a estudiar un <span
        >ciclo superior de Sonido</span
      >.
    </p>
    <p>
      Desde entonces, trabajé en la radio, teatros, conciertos y eventos, llegando a pasar a la producción de eventos y a <span
        >dirigir equipos de personas</span
      >, además de gestionar la <span>comunicación con los clientes</span>. Sin embargo, la pandemia trajo consigo una pausa obligada en esta trayectoria.
    </p>
    <p>
      Fue entonces cuando percibí que había concluido una etapa profesional y decidí retomar mi otra pasión: la informática. En <span>2021</span>, tuve la
      oportunidad de adentrarme en el <span>mundo profesional del desarrollo</span> de la mano de Brothapps, una empresa dedicada al desarrollo de aplicaciones informáticas.
      Allí, he crecido profesionalmente y <span>
        he participado en proyectos que utilizan la metodología Agile, coordinándome con otros miembros del equipo de frontend, así como con los equipos de
        UI/UX y backend</span
      >.
    </p>
  </section>

  <style>
    article {
      margin: 32px 0;
      padding: 16px;
      position: relative;
    }
    div {
      position: absolute;
      top: -50px;
    }
    section {
      margin: auto;
      padding: 16px 32px;
      display: flex;
      flex-direction: column;
      gap: 24px 16px;
      max-width: 70ch;
    }

    span {
      color: var(--color-brown);
    }
  </style>
</article>
