---
import { getI18N } from "../i18n";
import { getLangFromUrl } from "../i18n/utils";

const currentLocale = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale });
---

<section
	id='about'
	class='grid grid-cols-1 gap-6 mb-20'
>
	<div
		class='bg-card-light dark:bg-card-dark p-8 rounded-2xl shadow-lg border border-gray-200 dark:border-gray-800'
	>
		<h2
			class='text-3xl font-bold text-gray-900 dark:text-white mb-6 border-b border-gray-200 dark:border-gray-800 pb-4'
		>
			{i18n.ABOUT_TITLE}
		</h2>
		<div
			class='text-gray-600 dark:text-gray-300 space-y-4 leading-relaxed text-sm md:text-base'
		>
			<p set:html={i18n.ABOUT_INTRO} />
			<p set:html={i18n.ABOUT_VALUE_PROP} />
		</div>
	</div>
</section>
