---
import ExperienceItem from "./ExperienceItem.astro";
---

<article>
  <div id='experience'></div>
  <h2>Experiencia laboral</h2>
  <ExperienceItem />
</article>

<style>
  article {
    margin: 32px 0;
    padding: 16px;
    position: relative;
  }

  div {
    position: absolute;
    top: -50px;
  }
</style>
