<section>
  <ul>
    <li><a href='/'>ES</a></li>
    <li><a href='/ca'>CA</a></li>
    <li><a href='/en'>EN</a></li>
  </ul>
</section>

<style>
  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  a {
    font-size: 1rem;
  }

  a:hover {
    color: var(--color-yellow);
    cursor: pointer;
  }
</style>
