---
import { changeLang, getLangFromUrl } from "../i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
const languages = [
	{ code: "es", label: "ES" },
	{ code: "ca", label: "CA" },
	{ code: "en", label: "EN" },
];
---

<div class='flex items-center space-x-2'>
	{
		languages.map((lang, index) => (
			<>
				<a
					href={changeLang(Astro.url, lang.code)}
					class={`text-xs font-bold transition-colors hover:text-primary ${
						currentLang === lang.code
							? "text-primary"
							: "text-gray-500 dark:text-gray-400"
					}`}
				>
					{lang.label}
				</a>
				{index < languages.length - 1 && (
					<span class='text-gray-300 dark:text-gray-700 text-xs'>
						|
					</span>
				)}
			</>
		))
	}
</div>
