---
import Selector from "./Selector.astro";
import LanguageMenu from "./LanguageMenu.astro";
import { getI18N } from "../i18n/index";

const { currentLocale } = Astro;
const i = getI18N({ currentLocale });
---

<nav class='relative z-10 text-sm text-white'>
	<ul
		class='hidden pt-20 items-center justify-center navList fixed top-0 left-0 w-full md:flex flex-col gap-4 p-4 md:flex-row md:justify-center md:items-center md:gap-8 md:p-4'
	>
		<li>
			<a
				href='#experience'
				class='hover:text-gf-yellow transition-all duration-300'
				>{i.NAVBAR_LINK1}</a
			>
		</li>
		<li>
			<a
				href='#projects'
				class='hover:text-gf-yellow transition-all duration-300'
				>{i.NAVBAR_LINK2}</a
			>
		</li>
		<li>
			<a
				href='#about'
				class='hover:text-gf-yellow transition-all duration-300'
				>{i.NAVBAR_LINK3}</a
			>
		</li>
		<li>
			<a
				href='mailto:guifreribas@gmail.com'
				class='hover:text-gf-yellow transition-all duration-300'
				>{i.NAVBAR_LINK4}</a
			>
		</li>
		<!-- <li class='selector'><Selector /></li> -->
		<!-- <li class='languageMenu'><LanguageMenu /></li> -->
	</ul>
	<div
		class='md:hidden burgerContainer w-full fixed top-0 left-0 z-50 flex justify-end items-center p-4 backdrop-blur-sm'
	>
		<img
			class='burger block md:hidden z-50 w-8 h-8 top-4 right-4 hover:cursor-pointer icon--active'
			src='/icons/menu-burger.svg'
			alt='Menu burger icon'
		/>
	</div>
</nav>

<script>
	const menu = document.querySelector(".burger") as HTMLImageElement;
	const menuContainer = document.querySelector(
		".burgerContainer"
	) as HTMLDivElement;
	const ul = document.querySelector(".navList") as HTMLUListElement;
	const links = document.querySelectorAll("ul a");

	menu.addEventListener("click", () => {
		ul.classList.toggle("hidden");
		ul.classList.toggle("flex");

		menu.classList.toggle("text-gf-yellow");
		menuContainer.classList.toggle("backdrop-blur-sm");
	});
</script>

<style>
	.navList {
		backdrop-filter: blur(20px);
		animation: nav-background 0.5s linear both;
		animation-timeline: scroll();
		animation-range: 40px 150px;
	}

	.languageMenu {
		display: none;
	}

	@media screen and (width <= 768px) {
		.icon--active {
			display: block;
		}

		.burgerContainer {
			/* backdrop-filter: blur(20px); */

			animation: nav-background 0.5s linear both;
			animation-timeline: scroll();
			animation-range: 40px 150px;
		}
	}

	@keyframes nav-background {
		0% {
			background-color: transparent;
		}
		100% {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
</style>
