<nav>
  <ul>
    <li><a href='#experience'>EXPERIENCIA</a></li>
    <!-- <li><a href=''>PROYECTOS</a></li> -->
    <li><a href='#about'>SOBRE MI</a></li>
    <li><a href='mailto:guifreribas@gmail.com'>CONTACTO</a></li>
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  ul {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    padding: 16px 64px;
    border-radius: 0 0 32px 32px;
    backdrop-filter: blur(20px);
  }

  a {
    transition: color 0.3s ease-out;
    text-wrap: nowrap;
  }
  a:hover {
    width: fit-content;
    height: fit-content;
    color: var(--color-yellow);
    cursor: pointer;
  }

  @media screen and (width < 600px) {
    ul {
      max-width: unset;
      padding: 16px 32px;
      justify-content: center;
      gap: 32px;
    }
  }
</style>
