---
import ProjectCard from "./ProjectCard.astro";
import { getI18N } from "../i18n";
import { getLangFromUrl } from "../i18n/utils";

const currentLocale = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale });

const projects = [
	{
		title: "Pro Match",
		description: i18n.PROJECTS_PRO_MATCH_DESC,
		image: "https://lh3.googleusercontent.com/aida-public/AB6AXuAdVkAtsapOjLgCLQBzE2KWsOWZKf9-pMEE0McOH3OwDPDWW9yAIB60PF302LwSxXg38HV5i--Yb1JyIstho6UBrkrutpKAUVp9_b0NhGGzn5GJ80z1ThCbMhdpX5vD0p_Io7MUiF6hkrlVHk6SXR9Tf4s9-_LYA7q3Ji3wPLPUUGUqt0R4oYSvTygUYWS4cJybYiCAfyVLnS3eJiWtADMTkenE-f46KmnaUvG5RULKGDqbqgsNjaqhCfPkcuTHezqY_0XAd0MH-DE",
		links: [
			{ text: i18n.PROJECTS_FRONTEND_CODE, href: "#", isCode: true },
			{ text: i18n.PROJECTS_BACKEND_CODE, href: "#", isCode: true },
			{ text: i18n.PROJECTS_VIDEO_DEMO, href: "#", icon: "play_circle" },
		],
		colorClass: "text-primary",
	},
	{
		title: "Guifre Link",
		description: i18n.PROJECTS_GUIFRE_LINK_DESC,
		image: "https://lh3.googleusercontent.com/aida-public/AB6AXuDGZxrrMM4VKgC1Y4BDNOuybmZ-Nhsw5tMtBOMmGmeUhAD6OIfEfpPcNn_kObqA8yhtMBiMVqcQzFnjDy-R1Y09ypWVfMUXUwiy7347dMYoYJu7e1OG7-WqnX38wSM0ggvzdwce-LpC_DtdnnznjSaJkthluPJTRahPomvpbkWPgXH41qlnzQV2Ut7Zj-4yU1Qq8rh-F87nnhBdXC5x6XLzSZqWIhgkRk3GnwJG1S2jZ7nxfpqPK4mygt3rYd_EKF67Zhh3cDi7SRQ",
		links: [
			{ text: i18n.PROJECTS_GO_TO_WEB, href: "#", icon: "language" },
			{ text: i18n.PROJECTS_CODE, href: "#", isCode: true },
		],
		colorClass: "text-yellow-500",
	},
	{
		title: "Vicobook",
		description: i18n.PROJECTS_VICOBOOK_DESC,
		image: "https://lh3.googleusercontent.com/aida-public/AB6AXuC2BOuXce6YqlFotQqapP7CbCbKigp-F8V4oC4dI96MOBsCB8npFPmlYg6hG0UBjUaGkEKEtm9s3b3jTGu9377UBy1x5B8ZpYW0pLhCnHuNuVaPZUHDOGE8DMkRl2d-ViqaBf5GIQ3JayLZMD4RbBHn9vDg0c8RPxN6srKb08AJV-PDNRUqbDXUFqRrCa86Z1GZsrR3sB-Io73_-RWgIbzaF3Uhm_L1V-C2a78-OxxV0RJThkxb5Pi6lbw7cpgdaLo5FpTC9w2eWSE",
		links: [{ text: i18n.PROJECTS_MORE_INFO, href: "#", icon: "language" }],
		colorClass: "text-primary",
	},
];
---

<section
	id='projects'
	class='py-6'
>
	<h2
		class='text-3xl font-bold text-gray-900 dark:text-white border-b border-gray-200 dark:border-gray-800 pb-4 mb-8 flex items-center'
	>
		{i18n.PROJECTS_TITLE}
		<span class='ml-2 w-2 h-2 bg-primary rounded-full'></span>
	</h2>

	<div class='grid grid-cols-1 gap-8'>
		{projects.map((project) => <ProjectCard {...project} />)}
	</div>
</section>
