<article>
  <h2>Tecnologías</h2>
  <section>
    <img class='react' src='./logos/react.svg' alt='Logo de React' loading='lazy' />
    <img class='next' src='./logos/nextjs.svg' alt='Logo de Next.js' loading='lazy' />
    <div>
      <img class='astro' src='./logos/astro.png' alt='Logo de Astro' loading='lazy' />
    </div>
    <img class='javascript' src='./logos/javascript.webp' alt='Logo de JavaScript' loading='lazy' />
    <img class='typescript' src='./logos/typescript.svg' alt='Logo de TypeScript' loading='lazy' />
    <img class='css' src='./logos/css.svg' alt='Logo de CSS' loading='lazy' />
    <img class='html' src='./logos/html.svg' alt='Logo de Html' loading='lazy' />
    <img class='redux' src='./logos/redux.svg' alt='Logo de Redux' loading='lazy' />
    <img class='git' src='./logos/git.svg' alt='Logo de Git' loading='lazy' />
  </section>
</article>

<style>
  article {
    margin: 32px auto;
    padding: 16px;
  }

  section {
    position: relative;
    margin: 32px auto;
    padding: 32px;
    backdrop-filter: blur(80px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 16px;
    place-items: center;
  }

  img {
    max-width: 80px;
    aspect-ratio: 1/1;
  }

  div {
    max-width: 80px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 4px;
  }
</style>
